/*
 * Student Name: Scott Green
 * File Name: styles.css
 * Date: July 14, 2024
 */

/* style rules for mobile */

/* style reset rules */
body, header, nav, main, footer, h1, div, img, ul, figure, figcaption {
  margin: 0;
  padding: 0;
  border: 0;
}

/***********************************************************************************************************************************************
 ***** According to MDN Web Docs, for HTML :root is similar to <html> but with a higher specificity.  This is one pseudo class that I did  *****
 ***** not see covered in the textbook.                                                                                                    *****
 ***********************************************************************************************************************************************/
/* style rules for body and images */
:root body {
  background-color: #006600;  /* set background color to Pakistan green */
}

img {
  max-width: 100%;  /* allows image to scale down but not up */
  height: auto;
}

/* style rules for main content */
main {
  color: #fff;  /* set font color to white */
  font-family: "Petrona", serif;
}

/* Style rules for navigation */
nav {
  padding: 1%;
  margin-bottom: 1%;
}

/***********************************************************************************************************************************************
 ***** Menu is a semantic alternative to ul but is treated the same.  This is one HTML element that I did not see covered in the textbook. *****
 ***********************************************************************************************************************************************/
nav menu {
  list-style-type: none;
  text-align: center;
}

nav li {
  font-size: 1.5em;
  font-family: "Overpass", sans-serif;
  border-top: 1px solid #fff;
}

nav li:first-child {
  border-top: none;
}

nav li a {
  display: block;
  color: #fff;
  padding: 0.5em 1em;
  text-decoration: none;;
}

/* second row of main page should be a different color */
#goals {
  background-color: #666633;
}

/* hide the hero banner on mobile */
.tablet-desktop {
  display: none;
}

/* set up a single column grid */
.grid {
  display: grid;
  grid-template-columns: auto;
  grid-gap: 20px;
}

/* setup a frame style for figures and figcaptions */
.frame {
  position: relative; /* W3C says this positions an element relative to it's normal position */
  max-width: 1000px;
  margin: 2% auto;
}

/* applies to figcaption */
.pic-text {
  position: absolute;
  bottom: 0;
  background: rgba(0, 0 , 0 , 0.5);
  color: #fff;
  width: 100%;
  padding: 5px;
  text-align: center;
  font-family: "Overpass", sans-serif;
  font-weight: bold;
}

/* put a border and shadow around figures*/
figure {
  border: 4px solid #2a1f14;
  box-shadow: 6px 6px 10px #c5a687;
  max-width: 600px;
  margin: 2% auto;
}

/* add a top border to figcaption */
figcaption {
  padding: 2%;
  border-top: 4px solid #2a1f14;
}

* {
  box-sizing: border-box;
}

dt, dd {
  padding: 1%;
}

/* Style rules for footer content */
footer {
  clear: both;
  font-size: 1em;
  text-align: center;
  color: #fff;
}

footer p a {
  color: #fff;
  text-decoration: none;
}

/* Media Query for Tablet Viewport */
 @media screen and (min-width: 630px), print {
  /* disable mobile elements */
  .mobile {
    display: none;
  }

  /* tablet Viewport: Show tablet-desktop class */
  .tablet-desktop {
    display: block;
  }

  /* tablet should have two columns instead of one */
 .grid {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 20px;
  }

  /* reset the background color */
  #goals {
    background-color: transparent;
  }

  #about-text h1 {
    background-color: transparent;
  }

  #about-text p {
    background-color: transparent;
  }

  /* make the second "row" a different color */
  .grid h1 {
    background-color: #666633;
  }

  .grid p {
    background-color: #666633;
  }

  /* Table style rules */
  table {
    border: 1px solid #fff;
    border-collapse: collapse;
  }

  caption {
    font-size: 1.5em;
    font-weight: bold;
    padding: 1%;
  }

  th, td {
    border: 1px solid #fff;
    padding: 1%;
  }
}

/* Media Query for Desktop Viewport */
@media screen and (min-width: 1162px) {
  /* tablet should have two columns instead of one like mobile */
  .grid {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 20px;
  }

  /* Desktop Viewport: Style rule for header */
  header {
    width: 25%;
    float: left;
    padding-bottom: 0;
    margin-top: 2em;
  }

  /* Desktop Viewport: Style rules for nav area */
  nav {
    float: right;
    width: 70%;
  }

  /***********************************************************************************************************************************************
   ***** Menu is a semantic alternative to ul but is treated the same.  This is one HTML element that I did not see covered in the textbook. *****
   ***********************************************************************************************************************************************/
  nav menu {
    text-align: right;
  }

  nav li {
    border: none;
    display: inline-block;
  }

  nav li a {
    padding: 0.5em 1em;
  }

  nav li a:hover {
    background-color: #fff;
    color: #006600
  }
}

/* Media Query for Large Desktop Viewports */
@media screen and (min-width: 1921px) {
  body {
    background: linear-gradient(#006600, #999);
  }

  #container {
    width: 1920px;
    margin: 0 auto;
  }
}

/* Media Query for Print */
@media print {
  body {
    background-color: #fff;
    color: #000;
  }
}